<table class='table table-hover'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :myprofile_image, fallback: "no_image.jpg", size: "50x50" %>
        </td>
        <td><%= user.name %></td>
        <td>
          <!--ユーザー詳細画面へのリンク-->
          <%= link_to "show", user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>