<div class="container mt-3">
  <!--エラーメッセージの表示-->
  <%= render 'layouts/errors', obj: @book %>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <h2>Editing Book</h2>
        <%= render 'form', book: @book %>
        <!--投稿詳細画面へのリンク-->
        <%= link_to "Show", book_path(@book) %> |
        <!--投稿一覧画面へのリンク-->
        <%= link_to "Back", book_path(@book)%>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>