<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
        <%= render 'users/info', user: current_user %>
      <h2>New book</h2>
        <%= render 'form', book: @newbook %>
    </div>
    <div class="col-lg-8 offset-lg-1">
      <h2>Book detail</h2>
      <table class="table">
          <tr>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
          </tr>
      </table>
    </div>
  </div>
</div>